/* reset css style */
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    font-size: 1em;

}
.container{
    padding: 10%;
    color: #932be2;
    background: linear-gradient(135deg, #ffffff, #6e4c4c);
    width: 100%;
    min-height: 100vh;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-top: 10%;
    margin-left: 10%;
}
.cl{
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    color: #000000;
    width: 22rem;
}
.input-box{
    margin: 40px 0;
    padding: 15px;
    border-radius: 10px;
    border-color: blue;
    display: flex;
    width: 20rem;
    background: linear-gradient(135deg, #858ff1, #ffffff);
}
.input-box input{
    flex: 1;
    border-radius: 5%;
    margin-right: 20px;
    outline: 5%; 
    
    position: relative;
}
.input-box button{
    background: #ffff76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    color: #333;
    cursor: pointer;

}
.input-box input::-webkit-calendar-picker-indicator {
top: 0%;
right: 0%;
left: 0%;
bottom: 0%;
width: auto;
height: auto;
position: absolute;
background-position: calc(100% - 10px);
background-size: 30px;
cursor: pointer;
}
